<div>
      <h1>Settings</h1>
      <form>
        <div class="form-group">
          <label for="orientation">Orientation:</label>
          <select class="form-control" id="orientation" name="orientation" style="width: 250px;">
            <option *ngFor="let orientation of orientations" [value]="orientation.value">{{orientation.type}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="document-type">Document:</label>
          <select class="form-control" id="document-type" name="document-type" style="width: 250px;">
            <option *ngFor="let type of documentTypes" [value]="type">{{type.name}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
  </div>
