.container-div {
  display: flex;
}

.preview-panel {
  display: flex;
  flex: 60%;
  height: 600px;
  background: gray;
}

.form-panel {
  display: flex;
  height: 600px;
  background: beige;
}